// Greens
$color-queen-elizabeth: #009623;
$color-prince-charles: #0a6d12;
$color-prince-harry: #26b11b;

// Yellow
$color-princess-kate: #ffb400;

// Greys
$color-doc: #000;
$color-dopey: #444;
$color-bashful: #666;
$color-grumpy: #888;
$color-happy: #ccc;
$color-sleepy: #ddd;
$color-sneezy: #eee;
$color-white: #fff;
